{% extends "base.html" %}
{% block head_title %} | 庫存報表{% endblock %}
{% block extra_head %}
{% load static %}
<meta charset="utf-8">
{% endblock extra_head %}

{% block content %}
<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3>庫存報表</h3>
            <p>* 輸入日會被轉換為當週週一日期</p>
            <form method="POST" action="" id="regenerate" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-hover">
                    <tbody>
                        <tr style="border-bottom: hidden">
                            <td>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="date">日期</label>
                                    <input type="date" class="form-control" id="date" name="date" format="YYYY-MM-DD" placeholder="YYYY-MM-DD" required>
                                    <button class="btn btn-outline-secondary" id="submit_form">重新產生報表</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
                <table id="reports" class="display" style="width:100%">
                    <thead>
                        <th>日期</th>
                        <th>報告</th>
                    </thead>
                    <tbody>
                        {% for date, filename in reports.items %}
                        <tr>
                            <td>{{ date }}</td>
                            <td><a href={% url 'inventory:download' filename=filename %}>{{ filename }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#reports').DataTable( {
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false
        } );
    } );
    $('form').submit(function () {
        $('#submit_form').val('處理中 ...')
            .attr('disabled','disabled');
            return;
    });
</script>
{% endblock js %}